*.py
*.pyc
*.asv
*.mat
*.sh
includeList*
scenes2strips_single.m
mask_strip.m
selectTileByName.m
compileDatabase.m
batch_tileMeta.m
batch_tileRegMeta.m
batch_batchAlignTile.m
batch_batchMergeTileBuffer.m
mosaicStrips.m
writeTileToTif.m
*.csv
